body   {
    background-color:yellow;
    color: blue;
}

a  {
    text-decoration:none
}

a:hover{
    color:red;
}

h3 {
    color:green;
}

.black-link{
    color: black;
}

#teach{
    color: red;
}