.feature {
  height: 100vh;
  background: url("./images/wall-background.jpg") no-repeat top;
  background-size: cover;
  text-align: center;
}

.feature a img{
    margin-top:20vh;
   width:25%;
   height:auto;
   border-radius:10px;
}

.feature h2{
    color:white;
    font-size: 3rem;
}